/*CSS RESET*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*BODY*/
body {
    font-family: 'Open Sans', sans-serif;
}

/*CONTAINERS*/
.small-container {
    max-width: 800px;
    margin: 0 auto;
}

.big-container {
    max-width: 1200px;
    margin: 0 auto;
}

/*BORDER X I BLOCCHETTONI*/
.border {
    border: 2px dashed black;
}

/*HEADER*/
header {
    height: 100px;
    display: flex;
    justify-content: space-between;
}

/*CONTENUTO DELL'HEADER*/
.header-drop-info {
    flex-basis: 33%;
    height: 100%;
    padding: 5px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}

.header-user {
    flex-basis: 33%;
    height: 100%;
    padding: 5px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}

.header-list > li {
    list-style-type: none;
    min-height: 50px;
    min-width: 100px;
    display: inline-block;
}

/*SEZIONE DEL TITOLO*/
.title-section {
    height: 700px;
}

.title-section-content {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.title {
    flex-basis: 40%;
}

.subtitle {
    flex-basis: 60%;
    display: flex;
}

.text-content {
    flex-basis: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.subtitle-list > li {
    list-style-type: none;
    min-height: 80px;
    width: 100%;    
    display: inline-block;
}