/*CSS RESET*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*BODY*/
body {
    font-family: 'Open Sans', sans-serif;
}

/*CONTAINERS*/
.small-container {
    max-width: 1000px;
    margin: 0 auto;
}

.big-container {
    max-width: 1200px;
    margin: 0 auto;
}

/*BORDER X I BLOCCHETTONI*/
.border {
    border: 2px dashed black;
}

/*HEADER*/
header {
    height: 100px;
    display: flex;
    justify-content: space-between;
}

/*CONTENUTO DELL'HEADER*/
.header-drop-info {
    flex-basis: 33%;
    height: 100%;
    padding: 5px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}

.header-user {
    flex-basis: 33%;
    height: 100%;
    padding: 5px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}

.header-list > li {
    list-style-type: none;
    min-height: 50px;
    min-width: 100px;
    display: inline-block;
    padding: 10px;
}

#header-logo {
    vertical-align: middle;
}

.header-button {
    background-color: rgb(65,110,227);
    color: white;
    vertical-align: middle;
    text-align: center;
}

/*SEZIONE DEL TITOLO*/
.title-section {
    height: 700px;
    background-color: rgb(193,222,240);
}

.title-section-content {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.title {
    flex-basis: 40%;
    font-size: 50px;
    text-align: justify center;
    padding-top: 50px;
}

.subtitle {
    flex-basis: 60%;
    display: flex;
    flex-direction: row;
    height: 100%;
}

.text-content {
    flex-basis: 35%;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.subtitle-list > li {
    list-style-type: none;  
    flex-basis: calc(100% / 4);
}

.subtitle-list {
    display: flex;
    flex-direction: column;
}

.padding-bottom {
    padding-bottom: 40px;
}

.padding-top {
    padding-top: 40px;
}

.button-blue {
    background-color: rgb(65,110,227);
    color: white;
    max-width: 200px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.arrow {
    padding-top: 100px;
    font-size: 50px;
}

.jumbo {
    flex-basis: 65%;
    max-width: 65%;
    height: 115%;
}

/*SEZIONE DEL BUSINESS*/
.business-section {
    margin-top: 100px;
    height: 1000px;
}

.business-section-content {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.business-title {
    flex-basis: 12%;
    font-size: 30px;
}

.business-billing {
    flex-basis: 8%;
}

.business-plans {
    flex-basis: 80%;
    display: flex;
    gap: 5%;
}

.plan {
    flex-basis: calc(100% / 3);
    display: flex;
    flex-direction: column;
}

.plan-title {
    flex-basis: 5%;
    text-align: center;
    padding-top: 8px;
}

.plan-description {
    flex-basis: 55%;
    display: flex;
    flex-direction: column;
}

.plan-description-content {
    flex-basis: calc(100% / 8);
}

.plan-summary {
    flex-basis: 40%;
    display: flex;
    flex-direction: column;
}

.prof-summary-content {
    flex-basis: calc(100% / 3);
}

.advanced-summary-content {
    flex-basis: calc(100% / 6);
}

.enter-summary-content {
    flex-basis: calc(100% / 4);
}

.business-billing {
    display: flex;
}

.month-billing {
    display: flex;
    flex-basis: 20%;
    padding: 5px;
}

.annual-billing {
    flex-basis: 20%;
    display: flex;
    padding: 5px;
}

.check {
    border: 2px solid grey;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.blue-check-box {
    border: 5px solid rgb(19,69,233);
}

.business-icon {
    margin-right: 5px;
}

.blue-check {
    color: rgb(19,69,233);
    font-weight: bold;
}

/*SEZIONE ENTERPRISE*/
.team-section {
    height: 250px;
    margin-top: 50px;
}

.team-section-content {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.team-plan-title {
    flex-basis: 15%;
    text-align: center;
    padding-top: 8px;
}

.team-plan-content {
    flex-basis: 85%;
    display: flex;
    flex-direction: row;
}

.team-plan-description {
    flex-basis: 70%;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.team-plan-button {
    flex-basis: 30%;
}

.team-plan-description-content {
    flex-basis: calc(100% / 3);
}

/*SEZIONE PARTNER*/
.partner-section   {
    margin-top: 50px;
    height: 500px;
    display: flex;
}

.partner-img-col {
    flex-basis: 60%;
}

.partner-content-col {
    flex-basis: 60%;    
    display: flex;
    flex-direction: column;
}

.partner-content-title {
    flex-basis: 20%;
}

.partner-content-subtitle {
    flex-basis: 40%;
}

.partner-content-button {
    flex-basis: 15%;
}

/*SEZIONE OPERAZIONI*/
.operation-section    {
    margin-top: 50px;
    height: 1000px;
    display: flex; 
    flex-direction: column;
}

.operation-title {
    flex-basis: 10%;
}

.operation-col {
    flex-basis: 90%;
    display: flex;
    flex-flow: row wrap;
}

.operation-col-card {
    flex-basis: calc(100% / 3);
    display: flex;
    flex-direction: column;
}

.card-img {
    flex-basis: 45%;
}

.card-title {
    flex-basis: 25%;
}

.card-subtitle {
    flex-basis: 30%;
}

/*SEZIONE UTENTI CHE USANO DROP*/
.number-of-users {
    margin-top: 50px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.users-title {
    flex-basis: 50%;
    width: 700px;
}

.users-link {
    flex-basis: 50%;
    width: 700px;
}

/*SEZIONE LOGHI*/
.logos {
    margin-top: 50px;
    height: 600px;
    display: flex;
}

.logo-col {
    flex-basis: calc(100% / 3);
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.logo-content {
    width: 50%;
    height: 50%;
}

/*SEZIONE PROVA GRATUITA*/
.free-try {
    height: 300px;
    display: flex;
}

.free-try-content {
    flex-basis: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.free-try-text {
    flex-basis: 50%;
    height: 50%;
}

.free-try-button {
    flex-basis: 50%;
    height: 50%;
}

/*SEZIONE FAQ*/
.faq  {
    margin-top: 50px;
    height: 500px;
    display: flex;
    flex-direction: column;
}

.faq-col {
    flex-basis: 25%;
}

/*FOOTER*/
footer {
    height: 600px;
    margin-top: 50px;
}

.footer-container {
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer-content {
    flex-basis: 60%;
    display: flex;
}

.footer-line {
    flex-basis: 10%;
}

.footer-language {
    flex-basis: 10%;
}

.footer-list {
    flex-basis: calc(100% / 5);
    display: flex;
    flex-direction: column;
}

.footer-list > li {
    list-style-type: none;
    height: 100%;
}

.footer-title-list {
    flex-basis: 25%;
}

.footer-item-list {
    flex-basis: 15%;
}